<html>
  <head>
    <title>
      OfficeDrop Oauth Application
    </title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails' %>
  </head>
  <body>

    <h1> OfficeDrop OAuth Sample application </h1>

    <% unless flash.blank? %>
      <% flash.each do |key, value|  %>
        <p> <%= "#{key} - #{value}"  %>  </p>
      <% end %>
    <% end %>

    <%= yield %>

  </body>
</html>